.dialogeParent{
    position: relative;
    width: 70vw;
    height: 70vh;
    display: flex;
}
.dialogeParent a{
    position: absolute;
    right: 18px;
    top: -2px;
}
.dialogeParent i{
    font-size: 32px;
    color: #999;
}
.itemEdit{
    width: 50%;
}
.itemImg{
    width: 50%;
}
.itemImg img{
    transform: scale(2);
    margin: 97px 30px;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
}
.editBtn{
    background: #1868c1;
    color: white;
    border-radius:0px;
    width: 175px;
    margin-left: 20%;
    margin-top: 20px;
    height: 35px;
}
.leftParent{
    border-top: 3px solid #e4dbde;
    width: 60%;
    margin-left: 20%;
    margin-top: 50px;
}
.itemName{
    text-transform: uppercase;
    text-align: center;
    color: #777;
    padding-top: 40px;
}
.itemCost{
    text-align: center;
    padding-top: 20px;
    font-size: 2em;
}
.colors{
    width:20px;
    height: 20px;
    margin-left: 5px;
    box-shadow: 2px 2px #999;
    cursor: pointer;
}
.colors:hover{
    width:19px;
    height: 19px;
    border:1px solid #999;
}